@model Producer
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">@Model.FullName
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

      <div class="col-md-4">
        <img class="img-fluid" src="@Model.PicUrl" alt="">
      </div>

      <div class="col-md-8">
        <h3 class="my-3"> Bio</h3>
        <p>@Model.Bio</p>
        <h3 class="my-3">The works he participated in</h3>
        <ul>
          <li>Lorem Ipsum</li>
          <li>Dolor Sit Amet</li>
          <li>Consectetur</li>
          <li>Adipiscing Elit</li>
        </ul>
      </div>

    </div>
   

  </div>